
##########
# builds #
##########
compile_commands.json
.*
!.gitignore
!.clang-format
*.symvers.cmd
*.order.cmd
*.ko.cmd
Module.symvers
modules.order
*.mod
*.mod.*
*.ko
*.d
*.o
*.o.cmd

############
# programs #
############
usr/ss0d
usr/ss0cli
